.chart,
h2 {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.toolbox span {
    padding: 5px;
}

svg {
    padding: 10px;
    width: 1000px;
    height: 500px;
}

/* style of bar charts */
.bar-chart rect {
    fill: rgb(79, 175, 211);
}


.bar-chart .hovered {
    fill: #979696;
}

text {
    fill: black;
}

/* style of batting chart */
.walk {
    fill: rgb(116, 211, 79);
}

.hit-by-pitch {
    fill: rgb(79, 211, 182);
}

.single {
    fill: rgb(79, 154, 211);
}

.double {
    fill: rgb(79, 105, 211);
}

.triple {
    fill: rgb(118, 79, 211);
}

.home-run {
    fill: rgb(191, 79, 211);
}

.total {
    fill: rgb(174, 174, 174);
}